/* Start vars */
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --padding-section: 100px;
}
/* End vars */
/* Start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

.container {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Extra Small */
@media (min-width: 576px) {
    .container {
        width: 570px;
    }
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Mid */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End global rules */

/* Start Components */
.main-heading {
    text-align: center;
}

.main-heading h2 {
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
    /* margin-top: 100px; */
}

.main-heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px;
}

.main-heading h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    bottom: -37px;
    background-color: white;
}

.main-heading p {
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    color:#777;
}
/* End Components */

/* Start header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}

header .container::after {
    content: "";
    position: absolute;
    bottom: 0%;
    width: calc(100% - 30px);
    height: 1px;
    background-color: #a2a2a2;
    left: 15px;
}

header .logo img {
    height: 36px;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav .toggle-menu {
    color: white;
    font-size: 22px;
}

@media (min-width: 768px) {
    header nav .toggle-menu {
        display: none;
    }
}

header nav ul {
    display: flex;
}
@media (max-width: 768px) {
    header nav ul {
        display: none;
    }
    header nav .toggle-menu:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 50%);
    }
    header nav  ul li a {
        padding: 15px !important; 
    }
}
header nav ul li a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    padding: 40px 10px;
    color: white;
    position: relative;
    z-index: 2;
}

header nav ul li a.active,
header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

header nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 40px;
    border-left: 1px solid white;
}

header nav .form i {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
/* End header */

/* Start Landing */
.landing {
    min-height: 100vh;
    background-color: #1f2021; /* If the photo doesn't found, use this color */
    background-image: url(../images/landing.jpg);
    background-size: cover;
    position: relative;
}

.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 60%);
}

.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    display: flex;
    justify-content: flex-end;
}

.landing .text .content {
    max-width: 500px;
}

@media (max-width: 767px) {
    .landing .text {
        width: 100%;
    }
    .landing .text .content {
        max-width: 100%;
    }

}   

.landing .text .content h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
}

.landing .text .content p {
    font-size: 14px;
    line-height: 2;
}

.landing .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;
}

@media (max-width: 767px) {
    .landing .change-background {
        display: none;
    }
}

.landing .change-background:first-of-type {
    left: 30px;
}

.landing .change-background:last-of-type {
    right: 30px;
}

.landing .bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
}

.landing .bullets li {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px
}

.landing .bullets li.active {
    background-color: var(--main-color);
}
/* End Landing */

/* Start Services section */
#services {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}

@media (min-width: 768px) {
    #services .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px,1fr));
        row-gap: 60px;
        column-gap: 40px;
    }
}

#services .services-container .srv-box {
    display: flex;
}

#services .services-container .srv-box i {
    margin-right: 50px;
}

@media (max-width: 768px) {
    #services .services-container .srv-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }
    #services .services-container .srv-box i {
        margin: 0 0 30px;
    }
}

#services .services-container .srv-box .text h3 {
    margin-bottom: 30px;
    color: var(--main-color);
}

#services .services-container .srv-box .text p {
    line-height: 2;
    color: #777;
}
/* End Services section */

/* Start Design */
#design {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    height: 600px;
    position: relative;
    background-image: url(../images/design-features.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#design::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 60%);
}

#design .image,
#design .text {
    position: relative;
    z-index: 2;
    flex: 1;
}

#design .image {
    text-align: center;
}

@media (max-width: 900px) {
    #design .image {
        display: none;
    }
}

#design .image img {
    position: relative;
    bottom: -150px;
}

#design .text {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
}

#design .text h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
}

#design .text ul li {
    padding: 15px 0;
}

#design .text ul li::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f108';
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}
/* End Design */

/* Start Portfolio */
#portfolio {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}

#portfolio ul.shuffle {
    display: flex;
    justify-content: center;
}

#portfolio ul.shuffle li {
    padding: 10px;
    cursor: pointer;
}

#portfolio ul.shuffle li.active {
    background-color: var(--main-color);
    color: white;
}

#portfolio .imgs-holder {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

#portfolio .imgs-holder .box {
    overflow: hidden;
    position: relative;
}

@media (min-width: 768px) {
    #portfolio .imgs-holder .box {
        flex-basis: 50%;
    }
}

@media (min-width: 1199px) {
    #portfolio .imgs-holder .box {
        flex-basis: 25%;
    }
}

#portfolio .imgs-holder .box img {
    max-width: 100%;
    transition: 0.3s;
}

#portfolio .imgs-holder .box .caption {
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: white;
    width: 100%;
    transition: 0.3s;
    bottom: -100%;
}

#portfolio .imgs-holder .box:hover .caption {
    bottom: 0;
}

#portfolio .imgs-holder .box:hover img {
    transform: rotate(3deg) scale(1.1);
}

#portfolio .imgs-holder .box .caption h4 {
    font-weight: normal;
    margin-bottom: 10px;
}

#portfolio .imgs-holder .box .caption p {
    color: var(--main-color);
}

#portfolio a.more {
    background-color: var(--main-color);
    color: white;
    padding: 15px 20px;
    display: block;
    width: fit-content;
    margin: 30px auto;
    text-decoration: none;
    text-transform: uppercase;
}
/* End Portfolio */